<footer class="footer">
    <div class="location">
        <h2>Location</h2>
        <a href="#">Sri Lanka</a>
        <a href="#">USA</a>
        <a href="#">India</a>
        <a href="#">Japan</a>
        <a href="#">Italy</a>
    </div>
    <div class="contact">
        <h2>Contact</h2>
        <a href="#">+94 12 3456789</a>
        <a href="#">+94 25 5568456</a>
        <a href="#">chef123@gmail.com</a>
        <a href="#">epicurea@gmail.com</a>
        <a href="#">customer-epicurea@gmail.com</a>
    </div>
    <div class="services">
        <h2>Our Services</h2>
        <a href="#">Fast Delivery</a>
        <a href="#">Easy Payments</a>
        <a href="#">24 X 7 Service</a>
    </div>
    <div class="follows">
        <h2>Follow Us on</h2>
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
    </div>
</footer>