<header class="header">
        
    <a href="/" class="logo">Epi<span>Curea</span></a>
    <nav class="navbar">
        <div class="menu">
            <div class="search-box">
                <form action="/dishes" method="get">
                    <input type="text" name="dish" placeholder="Hungry? Try searching...">
                    <button type="submit"><a href=""><i class="fa-solid fa-magnifying-glass"></i></a></button>
                </form>
                <a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>

            </div>
            <a href="/" class="home">Home</a>
            <a href="/dishes" class="dishes">Dishes</a>
            <a href="/about" class="about">About</a>
            <a href="/reviews" class="reviews">Forum</a>
            <a href="#" class="menu-icon close"><i class="fa-solid fa-xmark"></i></a>

        </div>
        <div class="activity"> 
            <a id="search-btn" class=""><i class="fa-solid fa-magnifying-glass"></i></a>
            <a href=""><i class="fa-regular fa-heart"></i></a>
            <a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
            <% if(user){ %>
                <a href="/logout" class="logout-btn">Logout <i class="fa-solid fa-right-from-bracket"></i></a>
            <% }else{ %>
                <a href="/login">
                    <button class="btn">Login</button>  
                </a>
            <% } %>
        </div>
        <% if(user){ %>
            <a href="/logout" class="login"><i class="fa-solid fa-right-from-bracket"></i></a>
        <% }else{ %>
            <a href="/login" class="login"><i class="fa-solid fa-user"></i></a>
        <% } %>
        <a href="#" class="menu-icon open"><i class="fa-solid fa-bars"></i></a>
    </nav>
</header>