<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>

<body>
    
    <%- include('./partials/header') %>

    <section class="reviews-area current" id="review">
        <h2>What our <span>Customers</span> say</h2>
        <div class="swiper mySwiper">
            <div class="customer-cards swiper-wrapper">
                <div class="swiper-slide">
                    <div class="customer-card">
                        <img src="img/review_1.png" alt="">
                        <div class="customer-text">
                            <h3>Sam Dsouza</h3>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut deleniti ducimus quasi suscipit officiis qui cum perferendis repellendus cumque quaerat.</p>
                            <h4>Student</h4>
                            <div class="ratings">
                                <i  class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="swiper-slide">
                    <div class="customer-card">
                        <img src="img/review_2.png" alt="">
                        <div class="customer-text">
                            <h3>Sam Dsouza</h3>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut deleniti ducimus quasi suscipit officiis qui cum perferendis repellendus cumque quaerat.</p>
                            <h4>Student</h4>
                            <div class="ratings">
                                <i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="customer-card">
                        <img src="img/review_3.png" alt="">
                        <div class="customer-text">
                            <h3>Sam Dsouza</h3>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut deleniti ducimus quasi suscipit officiis qui cum perferendis repellendus cumque quaerat.</p>
                            <h4>Student</h4>
                            <div class="ratings">
                                <i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="customer-card">
                        <img src="img/review_4.png" alt="">
                        <div class="customer-text">
                            <h3>Sam Dsouza</h3>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut deleniti ducimus quasi suscipit officiis qui cum perferendis repellendus cumque quaerat.</p>
                            <h4>Student</h4>
                            <div class="ratings">
                                <i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
       
    </section>

    <%- include('./partials/footer.ejs') %>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script src="nav.js"></script>
    <script src="search.js"></script>
    <script src="swiper.js"></script>
</body>
</html>