@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #000;
}

main.container {
    width: 100%;
    min-height: 100vh;
    background-color: #000;
    position: relative;
    overflow: hidden;
}

a.home-btn{
    color: #950101;
    transition: color 0.2s ease-in;
}

a.home-btn:hover{
    color: #FF0000;
}

.sign-in .home-btn{
    position: absolute;
    top: 0;
    right: 10%;
    background-color: #F5E8C7;
    padding: 10px;
    border-radius: 50%;
}

.sign-up .home-btn{
    position: absolute;
    top: 0;
    left: 10%;
    background-color: #F5E8C7;
    padding: 10px;
    border-radius: 50%;
}

.home-btn i{
    font-size: 20px;
}

main.container:before{
    content: '';
    position: absolute;
    width: 2000px;
    height: 2000px;
    border-radius: 50%;
    background: linear-gradient(-45deg, #000000, #FF0000);
    top: -10%;
    right: 48%;
    transform: translateY(-48%);
    z-index: 6;
    transition: transform 1.8s ease-in-out;
}
 
.form-main-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}

.form-container {
    position: absolute;
    left: 75%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
    transition: 1s 0.7s ease-in-out;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 5rem;
    transition: all 0.2s 0.7s;
    overflow: hidden;
    grid-column: 1/2;
    grid-row: 1/2;
}

.title{
    font-size: 2rem;
    color: #F5E8C7;
    margin: 0.5rem 0;
}

.input-field{
    position: relative;
    display: grid;
    grid-template-columns: 20% 80%;
    background: #F5E8C7;
    color: #fff;
    height: 50px;
    min-width: 60%;
    border-radius: 20px;
    margin: 0.9rem 0;
    align-items: center;
}

.input-field small{
    position: absolute;

    top: 48px;
    left: 25px;
}

.input-field.error small{
    color: #FF0000;
}

.input-field i{
    color: #950101;;
    font-size: 15px;
    text-align: center;
}

.input-field input{
    outline: none;
    border: none;
    background-color: transparent;
    font-family: inherit;
    color: #950101;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
}

.input-field input::placeholder{
    font-size: 12px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #950101;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px transparent;
}

.form-main-container p{
    margin: 10px 0;
    font-size: 1rem;
    color: #F5E8C7;
}

#success{
    position: relative;
    background-color: rgb(168, 224, 168);
    padding: 20px 45px;
    transform: translateY(-500px);
    color: rgb(63, 183, 63);
    transition: transform 0.6s ease-in-out;
}

#success.show{
    transform: translateY(0);
}

.sign-in .success.show i, .sign-up .success.show i{
    color: rgb(63, 183, 63);
    padding-right: 8px;
}

.btn{
    font-size: 0.8rem;
    cursor: pointer;
    padding: 10px 50px;
    border: none;
    border-radius: 40px;
    margin: 1.2rem 0 0.8rem;
    background-color: #950101;
    font-family: inherit;
    text-transform: uppercase;
    font-weight: bold;
    color: #F5E8C7;
    transition: background-color 0.3s ease-in;
}

.btn:hover{
    background-color: #FF0000;
}
.social-container{
    display: flex;
    margin: 10px 0;
    justify-content: center;
}

.social-icon{
    color: #F5E8C7;
    margin: 0 10px;
    border: 1px solid #F5E8C7;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: color 0.3s ease-in-out;
}

.social-icon:hover{
    border-color: #FF0000;
    color: #FF0000;

}

.sign-in{
    z-index: 2;
}


.sign-up{
    z-index: 1;
    opacity: 0;
}

.image{
    width: 100%;
    transition: 1.1s 0.4s ease-in-out;

}

.panels-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: absolute;
    top: 0;
    left: 0;
}

.panel{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 7;
}

.left-panel{
    pointer-events: all;
    padding: 3rem 17% 2rem 12%;
}

.right-panel{
    pointer-events: none;
    padding: 3rem 12% 2rem 17%;
}

.panel .content{
    color: #fff;
    transition: 0.9s 0.6s ease-in-out;
}

.content h3{
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0;
}

.content p{
    margin: 10px 0;
}

.btn.ghost{
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    transition: border 0.2s ease-in;
}

.btn.ghost:hover{
    border: 1px solid #FF0000;
}

.right-panel .content, .right-panel .image{
    transform: translateX(1000px);
}

/* animations */
main.container.sign-up-mode:before {
    transform: translate(100%, -50%);
    right: 52%;
}


main.container.sign-up-mode .left-panel .content,
main.container.sign-up-mode .left-panel .image{
    transform: translateX(-1000px);
}

main.container.sign-up-mode .right-panel .content,
main.container.sign-up-mode .right-panel .image{
    transform: translateX(0px);
}

main.container.sign-up-mode .left-panel{
    pointer-events: none;
}

main.container.sign-up-mode .right-panel{
    pointer-events: all;
}

main.container.sign-up-mode .form-container{
   left: 25%
}

main.container.sign-up-mode .sign-up{
    z-index: 2;
    opacity: 1;
}

main.container.sign-up-mode .sign-in{
    z-index: 1;
    opacity: 0;
}

@media (max-width: 870px){
    main.container{
        min-height: 800px;
        height: 100vh;
    }

    #success{
        display: none;
    }

    .input-field.success{
        border: 2px solid rgb(105, 192, 105);
    }

    .sign-in .home-btn{
        top: 10%;
    }
    .sign-up .home-btn{
        top: 3%;
    }
    

    main.container:before{
        width: 1500px;
        height: 1500px;
        left: 30%;
        bottom: 68%;
        transform: translateX(-50%);
        right: initial;
        top: initial;
        transition: 2s ease-in-out;
    }

    .form-container{
        width: 100%;
        top: 95%;
        transform: translate(-50%, -100%);
        transition: 1s 0.8s ease-in-out;
    }

    .form-container .sign-up{
        margin-top: 20px;
    }

    .form-container, main.container.sign-up-mode .form-container{
        left: 50%;
    }

    .panels-container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr;
    }

    .panel{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 2.5rem 8%;
        grid-column: 1/2;
    }

    .right-panel{
        grid-row: 3/4;
    }

    .left-panel{
        grid-row: 1/2;
    }

    .panel .content{
        padding-right: 15%;
        transition: transform 0.9s ease-in-out;
        transition-delay: 0.8s;
    }

    .panel h3{
        font-size: 1.2rem;
    }

    .panel p{
        font-size: 0.9rem;
        padding: 0.5rem 0;
    }

    


    .image{
        width: 200px;
        transition: transform 0.9s ease-in-out;
        transition-delay: 0.6s;
    }


    .right-panel .content, .right-panel .image{
        transform: translateY(400px);
    }

    .left-panel .content, .left-panel .image{
        transform: translateY(0);
    }

    main.container.sign-up-mode:before{
        transform: translate(-50%, 100%);
        bottom: 28%;
        right: initial;
    }

    main.container.sign-up-mode .left-panel .image,
    main.container.sign-up-mode .left-panel .content{
        transform: translateY(-300px);
    }

    main.container.sign-up-mode .right-panel .image,
    main.container.sign-up-mode .right-panel .content{
        transform: translateY(30px);
        margin: 0;
        padding: 0;
    }

    main.container.sign-up-mode .form-container {
        top: 0%;
        transform: translate(-50%, 0);
    }

}

@media (max-width: 570px) {
    form {
      padding: 0 1.5rem;
    }
  
    .image {
      display: none;
    }
    .panel .content {
      padding: 0rem 1rem;
    }

    main.container {
      padding: 0rem;
    }
  
    main.container:before {
      bottom: 70%;
      left: 50%;
    }

    .right-panel{
        padding-bottom: 30px;
        width: auto;
        height: 0;
    }

    main.container.sign-up-mode .right-panel .image,
    main.container.sign-up-mode .right-panel .content{
        transform: translateY(30px);
    }
  
    main.container.sign-up-mode:before {
      bottom: 25%;
      left: 50%;
    }
  }